<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Cadastro</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>
	<header>

		<img src="/images/logo.png" class="logo">

		<nav>

			<a href="/">Home</a> <a href="/cardapio">Cardápio</a> <span
				class="usuario"> Olá Vanderlei </span> <a href="/logout"> Sair </a>

		</nav>

	</header>
	<div class="container">

		<h1>📝 Cadastro</h1>

		<form th:action="@{/cadastro}" method="post">

			<input type="text" name="nome" placeholder="Nome"> <input
				type="email" name="email" placeholder="Email"> <input
				type="password" name="senha" placeholder="Senha"> <input
				type="hidden" name="tipo" value="CLIENTE">

			<div class="fidelidade">

				<input type="hidden" name="participaFidelidade" value="false">

				<label> <input type="checkbox" name="participaFidelidade"
					value="true" checked> Desejo participar do programa de
					fidelidade

				</label>

			</div>

			<button type="submit">Cadastrar</button>

		</form>



		<p>
			Já possui conta? <a href="/login">Entrar</a>
		</p>

	</div>

</body>

</html>