<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Pedido Confirmado</title>

<link rel="stylesheet" href="/style.css">

</head>

<body>

	<h1>🎉 Pagamento Aprovado!</h1>

<p>
    Seu pagamento foi processado com sucesso.
</p>

<hr>

<h3>📋 Resumo da Operação</h3>

<p>
    ✅ Pedido criado com sucesso
</p>

<p>
    ✅ Pagamento aprovado pelo serviço Mock
</p>

<p>
    ✅ Status do pagamento: APROVADO
</p>

<p>
    👨‍🍳 Pedido enviado para preparação
</p>

<p>
    🔥 Status atual: EM PREPARO
</p>

<hr>

<p>
    💳 Forma de pagamento:
    <b>PIX</b>
</p>

<p>
    💰 Valor:
    <b>R$ 18,00</b>
</p>

<p>
    🔑 Código da transação:
    <b>PAY1780961425113</b>
</p>

<hr>

<p>
    Agora você pode acompanhar o andamento do pedido pela área de acompanhamento.
</p>

<a href="/acompanhar" class="botao">
    📦 Acompanhar Pedido
</a>

<a href="/" class="botao">
    🏠 Voltar para Home
</a>
	
</body>

</html>