<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Food Nordeste</title>

<link rel="stylesheet" href="/style.css">
</head>

<body>

	<header>



		<img src="/images/logo.png" class="logo">



		<nav>

			<a href="/">Home</a> <a href="/cardapio">Cardápio</a> <a
				href="/login">Login</a>


		</nav>

	</header>


	<main class="home">

		<h1>🌴 Bem-vindo ao Food Nordeste 🌴</h1>

		<p>O melhor da culinária nordestina diretamente na sua tela.</p>

		<div class="botoes-home">

			<a href="/cardapio" class="botao"> 🍔 Ver Cardápio </a> <a
				href="/cadastro" class="botao"> 📝 Criar Conta </a> <a
				href="/acompanhar" class="botao"> Meus Pedidos </a>

		</div>

	</main>


	<p>Agora você está vendo um arquivo de modelo de aplicativo da web
		funcional.</p>

	<div>&copy; 2026 Dureza</div>
</body>
</html>