<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Login</title>

<link rel="stylesheet" href="/style.css">
</head>

<body>


	<header>

		<img src="/images/logo.png" class="logo">

		<nav>

			<a href="/">Home</a> <a href="/cardapio">Cardápio</a> <a
				href="/login">Login</a>



		</nav>

	</header>

	<p th:if="${erro}" style="color: red; font-weight: bold;">

		<span th:text="${erro}"></span>

	</p>
	<div class="container">

		<h1>🔐 Login</h1>

		<form action="/login" method="post">

			<input type="email" name="email" placeholder="Digite seu email"
				required> <input type="password" name="senha"
				placeholder="Digite sua senha" required>

			<button type="submit">Entrar</button>

		</form>

		<p>
			Não possui conta? <a href="/cadastro">Criar conta</a>
		</p>

	</div>

</body>

</html>